          <div class="dimensional-field" aria-hidden="true">
            <span class="orbit orbit-one"></span>
            <span class="orbit orbit-two"></span>
            <span class="facet facet-one"></span>
            <span class="facet facet-two"></span>
            <span class="facet facet-three"></span>
            <span class="axis axis-x"></span>
            <span class="axis axis-y"></span>
            <span class="axis axis-z"></span>
            <span class="axis axis-w"></span>
            <span class="origin"></span>
          </div>
